/*
    Fuentes: bukhari script y bebas nueu
*/
@font-face {
    font-family: 'Bukhari';
    src: url("{{URL::asset('fonts/Bukhari-Script.ttf')}}") format('ttf'),;
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0px;
    font-family: 'Bukhari', 'Courier New', Courier, monospace;
    font-weight: bold;
}

.layout {
    width: 100%;
    height: 100vh;

    display: grid;
    grid:
      "header" 0.1fr
      "main" 1fr
      "footer" 0.1fr
      / 1fr;
}

.header {
    grid-area: header;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91ED58;
}

.logo{
    width: 50%;
    height: 100%;
}


.main {
    grid-area: main;
    background-color: #91ED58;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91ED58;
}

.imgFooter{
    width: 10%;
    height: 80%;
}

.formSection{
    background-color: #FF9114;
}

.form{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border: #ffffff;
}

.btn{
    background-color: #FFFA69;
    font-family: 'Bukhari', 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 10px;
}
